auto-save-list
*.#*
.emacs.desktop
.emacs.desktop.lock
elpa/
.last-package-update-day
custom.el
emacs-backups
emacs-saves
bookmarks
recentf
irony
.lsp-session-v1
.cache
.dap-breakpoints
.org-id-locations
eln-cache
emojis
projectile-bookmarks.eld
straight
tramp
transient
%backup%*
session.*
eclipse.jdt.ls/
org-roam.db
org-roam.db-bkp
places
request/
smex-items
url/
workspace/
